.set-margin-for-host-length {
    margin-right : 6px;
    margin-left : -14px;
}

.top-bottom-margin {
    margin-top : 12px;
    margin-bottom : 12px;
}

.removed-border {
    border-color: #fff;
}

.white-background {
    background-color : #fff !important;
}

.backgroung-color-for-header {
    background-color : #afd3f6;
}
