.cluster-hosts-panel {
    &:after {
        display: block;
        content: "";
        background: #ccc;
        position: relative;
        height: 2px;
        margin: 35px 20px 0px 20px;
    }
}

.cluster-hosts-panel .avaliable-hosts-count {
    margin-right : 6px;
    font-weight: 600;
}

.cluster-add-host-row {
    background-color: lightgrey;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
}
