@import 'font-awesome/scss/font-awesome';
@import 'modules/angular-motion';
@import 'wizard';

.panel-clusters {
    padding: 0px;
}
.selected-hosts-list {
	padding-top:10px;
}

.selected-hosts-list li {
	padding: 5px;
}

.selected-hosts-list a {
	text-decoration: none;
	cursor: pointer;
	margin-top: 5px;
}

.add-hosts-modal-dialog {
	width: 800px;
}

.table-hosts-to-add {
	border: 1px solid #dddddd;
}

.clusters-new-steps {
	li {
		padding: 10px;
		font-size: 16px;
	}
}

.clusters-new-active-step {
	text-decoration: underline;
}

.clusters-new-inactive-step {
	text-decoration: none;
}

.cluster-new-hosts-action {
	font-size: 20px;
}
