@import 'font-awesome/scss/font-awesome';
@import 'modules/angular-motion';
@import 'modules/angular-growl.min';
@import 'modules/usm_colors';
@import 'wizard-new';
@import 'compass/css3/box-shadow';
@import 'cluster-new';
@import 'login-page';
@import 'volume';

.navbar-product-name {
    font-size: 15px;
    font-weight: 600;
    color: #F1F1F1;
    padding-left: 10px;

    &:hover {
        color: #F1F1F1;
        text-decoration: none;
    }
}

.panel-clusters {
    padding: 0px;
}
.selected-hosts-list {
    padding-top:10px;
}

.selected-hosts-list li {
    padding: 5px;
}

.selected-hosts-list a {
    text-decoration: none;
    cursor: pointer;
    margin-top: 5px;
}

.add-hosts-modal-dialog {
    width: 800px;
}

.table-hosts-to-add {
    border: 1px solid #dddddd;
}

.wizard-top {
    background-color: #F5F5F5;
    border-bottom: 1px solid;
    border-color: #DDD;
}

.wizard-step-view {
    padding-top: 20px;
}

.clusters-new-steps {
    li {
        padding: 10px;
        font-size: 16px;
    }
}

.clusters-new-active-step {
    text-decoration: underline;
}

.clusters-new-inactive-step {
    text-decoration: none;
}

.cluster-new-hosts-action {
    font-size: 20px;
}

.host-details-th {
    margin-left: 17px;
}

.add-host-control {
    border: 1px solid #BABABA;
    padding: 2px 6px;
    margin-right: 5px;

    &:focus {
        border-color: #66AFE9;
        @include box-shadow(0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6));
    }
}

.host-is-mon-icon {
    opacity: 0.2;
}

.host-is-mon-link {
    outline: 0;
    color: #333;

    &:active, &:focus {
        outline: 0;
        color: #333;
    }
}

.first {
    margin-top: 15%;
    margin-left: 40%;
}

.cluster-summary-host-header-text {
    margin-right: 12px;
}

.cluster-summary-host-header {
    cursor: pointer;
    color: $usmblue;
}

.error-validation-msg {
    color: red;
}

.textbox-with-red-border {
    border: 1px solid red;
}

.form-size-selector {
    width: 55px !important;
}

.task-icon {
    font-size: 12px;
}

.task-icon-count {
    border-radius: 10px;
}

.progress-dropdown {
    width: 300px;
    right: 0px;
    left: auto !important;

    .header {
        padding: 10px;
        border-bottom: 1px solid #BCA4A4;
    }

    .content {
        height: 250px;
    }

    .task-item {
        border-bottom: 1px solid #BCA4A4;
        padding: 4px;
    }

    .task-progress {
        margin-bottom: 5px;
    }
}

.admin-dropdown {
    width:250px;
    right: 20px;
    left: auto !important;

    .header {
        padding: 10px;
        border-bottom: 1px solid #BCA4A4;
    }

    .content {
        height: 400px;
    }

    .task-item {
        border-bottom: 1px solid #BCA4A4;
        padding: 4px;
    }

    .task-progress {
        margin-bottom: 5px;
    }
}

.pic-height {
    line-height:175px;
}

.pic-align  {
    text-align: center;
}