[project]
	description = Web client for USM
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yazhiniloganathan
[access "refs/for/refs/*"]
	read = group user/yazhiniloganathan
	push = group user/yazhiniloganathan
	label-Code-Review = -2..+2 group user/yazhiniloganathan
	label-Verified = -1..+1 group user/yazhiniloganathan
	rebase = group user/yazhiniloganathan
	removeReviewer = group user/yazhiniloganathan
	submit = group user/yazhiniloganathan
[access "refs/heads/*"]
	read = group user/yazhiniloganathan
	create = group user/yazhiniloganathan
	push = +force group user/yazhiniloganathan
	pushMerge = group user/yazhiniloganathan
[access "refs/tags/*"]
	push = +force group user/yazhiniloganathan
	pushTag = group user/yazhiniloganathan
	pushSignedTag = group user/yazhiniloganathan
