<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Unified Storage Manager</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/patternfly/dist/css/patternfly.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body class='usmClientApp'>
    
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <nav ng-if="currentURI !== '/'" class="navbar navbar-default navbar-pf" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-product-name" href="/">
            UNIFIED STORAGE MANAGER
        </a>
      </div>
      <div class="collapse navbar-collapse navbar-collapse-1">
        <ul class="nav navbar-nav navbar-utility" ng-controller="RequestsController">
          <li>
            <a href="" data-template="views/discovered-hosts.tpl.html" data-animation="am-fade-and-slide-top" bs-dropdown="">
              <i class="fa fa-desktop"></i>
              <span class="label label-info task-icon-count" ng-if="discoveredHosts.length>0" ng-bind="discoveredHosts.length"></span>
              <div growl></div>
            </a>
          </li>
          <li>
            <a href="" data-template="views/progress-dropdown.tpl.html" data-animation="am-fade-and-slide-top" bs-dropdown="">
              <i class="fa fa-tasks task-icon"></i>
              <span class="label label-info task-icon-count" ng-if="tasks.length>0" ng-bind="tasks.length"></span>
              <div growl></div>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="pficon pficon-user"></span>
              Admin <b class="caret"></b>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-primary" ng-controller="MenuController">
          <li class="menu-item" ng-class="{'active' : menu.active}" ng-repeat="menu in menus">
            <a ng-show="!menu.hasSubMenus" ng-click="navigate(menu)">{{menu.label}}</a>
            <a ng-show="menu.hasSubMenus" data-animation="am-flip-x" data-template="views/menu-dropdown.tpl.html" bs-dropdown="menu.subMenus">
              {{menu.label}}
              <span class="caret"></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main container-->
    <div class="container-fluid" ng-view></div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script data-main='scripts/main' src="bower_components/requirejs/require.js"></script>
</body>
</html>
