<ul class="dropdown-menu admin-dropdown">
 <li class="header pic-height">
    <div style="text-align: center;">
      <span class="pficon pficon-user"/>
    </div>
 </li>
 <li class="dropdown-footer">
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
          <a href="" class="btn btn-sm btn-success" ng-click="logoutUser()">signout</a>
      </div>
      <div class="btn-group">
          <a href="#" class="btn btn-sm btn-primary" ng-click="">change password</a>
      </div>
    </div>
</li>
</ul>
