<div class="row">
  <div class="col-md-9">

    <h3>
      Available Hosts
    </h3>

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <form role="form" class="search-pf has-button">
              <div class="form-group has-clear">
                <div class="search-pf-input-group">
                  <label for="search1" class="sr-only">Search</label>
                  <input id="search1" type="search" class="form-control" placeholder="Search"></input>
                  <button type="button" class="clear" aria-hidden="true" style="display: none;"><span class="pficon pficon-close"></span></button>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
              </div>
            </form>
          </div>
          <div class="col-md-4"> 
            <span class="pull-right">{{cluster.hosts.length}} Hosts</span>
          </div>
        </div>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <!-- <th class="col-md-1"><input type="checkbox"></input></th> -->
            <th class="col-md-4"><input type="checkbox"></input><span class="host-details-th">Hostname</span></th>
            <th class="col-md-1">IP Address</th>
            <th class="col-md-5">Credentials</th>
            <th class="col-md-1" ng-show="cluster.clusterType.id === 2"><span class="fa fa-desktop fa-lg"></span></th>
            <th class="col-md-1">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="host in cluster.hosts | filter: { isDummy: false}">
            <!-- <td class="col-md-1"><input type="checkbox" class="add-host-control" ng-model="host.selected"></input></td> -->
            <td>
              <div>
                <input type="checkbox" class="add-host-control" ng-model="host.selected">
              </div>
              <div class="host-details">
                <ul class="list-unstyled">
                  <li>
                    <span ng-show="!host.isEdit"> {{host.hostname}} </span>
                    <input type="text" class="add-host-control" ng-model="host.hostname" ng-show="host.isEdit" ng-blur="cluster.updateFingerprint(host)"> </input>
                  </li>
                  <li>
                    <span class="text-muted"> Fingerprint: {{host.fingerprint}} </span>
                  </li>
                </ul>
              </div>
            </td>
            <td>
              {{host.ipaddress}}
            </td>
            <td>
              <span ng-if="!host.isNew">N/A</span>
              <span ng-if="host.isNew && !host.isEdit">{{host.username}}/......</span>
              <div ng-show="host.isEdit">
                <input type="text" class="add-host-control" ng-model="host.username" placeholder="User name"> </input>
                <input type="password" class="add-host-control" ng-model="host.password" placeholder="Password"> </input>
              </div>
            </td>
            <td class="host-is-mon" ng-show="cluster.clusterType.id === 2">
              <a class="host-is-mon-link" href="" ng-click="host.isMon=!host.isMon">
                <span class="fa fa-desktop fa-lg" ng-class="host.isMon ? '': 'host-is-mon-icon'"></span>
              </a>
            </td>
            <td>
              <button class="btn btn-default" type="button" ng-show="!host.isEdit" ng-click="cluster.onEditHost(host)">
                <span class="pficon pficon-edit"></span>
              </button>
              <button class="btn btn-default" type="button" ng-show="host.isEdit" ng-click="cluster.onSaveHost(host)">
                <span class="pficon pficon-ok"></span>
              </button>
              <button class="btn btn-default" type="button" ng-click="cluster.onRemoveHost(host)">
                <span class="pficon pficon-close"></span>
              </button>
            </td>
          </tr>

          <tr ng-repeat="host in cluster.hosts | filter: { isDummy: true}">
            <td>
              <button class="btn btn-default" type="button" ng-click="cluster.onAddRow(host)">
                <span class="pficon pficon-add"></span>
              </button>
            </td>
            <td></td>
            <td></td>
            <td ng-show="cluster.clusterType.id === 2"></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-3">
    <h3>Selected Hosts</h3>
    <span class="text-muted"> Select at least 2 hosts </span>
    <ul class="list-unstyled selected-hosts-list">
      <li ng-repeat="host in cluster.hosts | filter: { selected: true }">
        {{host.hostname}}
        <a class="pficon pficon-close pull-right" ng-click="host.selected=false"></a>
      </li>
    </ul>
  </div>
</div>
