<div class="row">
  <div class="col-md-9">
    <h3>
      Available Hosts
    </h3>
    <div class="panel panel-default cluster-hosts-panel removed-border">
      <div class="panel-heading white-background">
        <div class="row">
          <div class="col-md-9">
            <form role="form" class="search-pf has-button">
              <div class="form-group has-clear">
                <div class="search-pf-input-group">
                  <label for="search1" class="sr-only">Search</label>
                  <input id="search1" type="search" class="form-control" placeholder="Search"></input>
                  <button type="button" class="clear" aria-hidden="true" style="display: none;"><span class="pficon pficon-close"></span></button>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
              </div>
            </form>
          </div>
          <div class="col-md-3"> 
            <span class="set-margin-for-host-length">{{cluster.hosts.length}} Hosts</span>
            <button class="btn btn-default" ng-disabled="isAddRow" ng-click="isAddRow = true; newhost=null ; cluster.errorMsg = ''">Add</button>
          </div>
        </div>
      </div>

      <div ng-show="isAddRow">
        <div class="col-md-3 backgroung-color-for-header">
          <input type="text" class="add-host-control top-bottom-margin" ng-model="newhost.hostname" placeholder="Hostname" ng-blur="cluster.updateFingerprint(newhost)"> </input>
        </div>
        <div class="col-md-3 backgroung-color-for-header">
          <input type="text" class="add-host-control top-bottom-margin" ng-model="newhost.username" placeholder="Username"> </input>
        </div>
        <div class="col-md-3 backgroung-color-for-header">
           <input type="password" class="add-host-control top-bottom-margin" ng-model="newhost.password" placeholder="Password"> </input>
        </div>
        <div class="col-md-3 backgroung-color-for-header">
          <button class="btn btn-default top-bottom-margin" ng-disabled="cluster.isVerifyingHost || !(newhost.hostname && newhost.username && newhost.password) || cluster.cautionMsg === 'Error!.'" ng-click="cluster.onSaveNewHost(newhost)">Ok</button> 
          <span class="fa-ul loader" ng-show="cluster.isVerifyingHost">
           <i class="fa-li fa fa-spinner fa-spin loader-margin"></i>
          </span>
          <button class="btn btn-default top-bottom-margin" ng-click="isAddRow = false;">Cancel</button>
        </div>
        <div ng-show="cluster.errorMsg.length>0" class="col-md-12 backgroung-color-for-header">
         <label ng-bind="cluster.cautionMsg"></label> 
         <span ng-bind="cluster.errorMsg"></span>
        </div>
      </div>

      <table class="table table-hover">
        <tbody>
          <tr ng-repeat="host in cluster.hosts | filter: { isDummy: false}">
            <!-- <td class="col-md-1"><input type="checkbox" class="add-host-control" ng-model="host.selected"></input></td> -->
            <td>
              <div>
                <input type="checkbox" class="add-host-control" ng-model="host.selected">
              </div>
              <div class="host-details">
                <ul class="list-unstyled">
                  <li>
                    <span ng-show="!host.isEdit"> {{host.hostname}} </span>
                    <input type="text" class="add-host-control" ng-model="host.hostname" ng-show="host.isEdit" ng-blur="cluster.updateFingerprint(host)"> </input>
                    <span class="label label-success cluster-hosts-discovered-label" ng-show="!host.isNew">Free</span>
                  </li>
                  <li>
                    <span class="text-muted"> Fingerprint: {{host.fingerprint}} </span>
                  </li>
                </ul>
              </div>
            </td>
            <td>
              {{host.ipaddress}}
            </td>
            <td class="host-is-mon" ng-show="cluster.clusterType.id === 2">
              <a class="host-is-mon-link" href="" ng-click="host.isMon=!host.isMon">
                <span class="fa fa-desktop fa-lg" ng-class="host.isMon ? '': 'host-is-mon-icon'" data-placement="bottom" bs-tooltip="'Use this host as Ceph monitor'"></span>
              </a>
            </td>
            <td>
              <button class="btn btn-default" type="button" ng-show="!host.isEdit" ng-disabled="!host.isNew" ng-click="cluster.onEditHost(host)">
                <span class="pficon pficon-edit"></span>
              </button>
              <button class="btn btn-default" type="button" ng-show="host.isEdit" ng-disabled="!host.isNew" ng-click="cluster.onSaveHost(host)">
                <span class="pficon pficon-ok"></span>
              </button>
              <button class="btn btn-default" type="button" ng-disabled="!host.isNew" ng-click="cluster.onRemoveHost(host)">
                <span class="pficon pficon-close"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-3">
    <h3>Selected Hosts</h3>
    <span class="text-muted">
       Select at least {{cluster.deploymentType.nodeCount}} hosts
    </span>
    <ul class="list-unstyled selected-hosts-list">
      <li ng-repeat="host in cluster.filtered = (cluster.hosts | filter: { selected: true })">
        {{host.hostname}}
        <a class="pficon pficon-close pull-right" ng-click="host.selected=false"></a>
      </li>
    </ul>
  </div>
</div>
