<div class="row clusters-new-top">
  <div class="col-sm-12 col-md-12">
    <h1>New Cluster</h1>

    <div class="wizard">
      <div ng-class="cluster.step == 1 ? 'active' : 'default'">
        <div class="wizard-step-dot"><i class="fa fa-circle"></i></div>
        <div>1. Configure Cluster</div>
      </div>
      <div ng-class="cluster.step == 2 ? 'active' : 'default'">
        <div class="wizard-step-dot"><i class="fa fa-circle"></i></div>
        <div>2. Select Hosts</div>
      </div>
      <div ng-class="cluster.step == 3 ? 'active' : 'default'">
        <div class="wizard-step-dot"><i class="fa fa-circle"></i></div>
        <div>3. Edit Options</div>
      </div>
      <div ng-class="cluster.step == 4 ? 'active' : 'default'">
        <div class="wizard-step-dot"><i class="fa fa-circle"></i></div>
        <div>4. Review Summary</div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12">

    <!-- <div class="wizard">
      <a ng-class="cluster.step == 1 ? 'current': ''"><span class="badge">1</span> Configure Cluster</a>
      <a ng-class="cluster.step == 2 ? 'current': ''"><span class="badge">2</span> Select Hosts</a>
      <a ng-class="cluster.step == 3 ? 'current': ''"><span class="badge">3</span> Edit Options</a>
      <a ng-class="cluster.step == 4 ? 'current': ''"><span class="badge">4</span> Review Summary</a>
    </div> -->

    <div class="content" ng-switch on="cluster.step">
      <div ng-switch-when="1" >
        <div ng-include src="'views/clusters-new-configure.html'"> </div>
      </div>
      <div ng-switch-when="2">
        <div ng-include src="'views/clusters-new-hosts.html'"> </div>
      </div>
      <div ng-switch-when="3">
        <div ng-include src="'views/clusters-new-options.html'"> </div>
      </div>
      <div ng-switch-when="4">
        <div ng-include src="'views/clusters-new-summary.html'"> </div>
      </div>
    </div>

    <div>
      <button type="button" class="btn btn-default" ng-show='cluster.isCancelAvailable()' ng-click='cluster.cancel()'>Cancel</button>
      <button type="button" class="btn btn-default" ng-show='!cluster.isCancelAvailable()' ng-click='cluster.moveStep(-1)'>&lt;&nbsp;&nbsp;Back</button>
      <button type="button" class="btn btn-default" ng-show='!cluster.isSubmitAvailable()' ng-click='cluster.moveStep(1)'>Next&nbsp;&nbsp;&gt;</button>
      <button type="button" class="btn btn-primary" ng-show='cluster.isSubmitAvailable()' ng-click='cluster.submit()'>Create Cluster</button>
    </div>

  </div><!-- /col -->
</div> <!-- /row -->
