<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog add-hosts-modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button> <i class='fa fa-server fa-lg'></i>
                 <h3 style='display: inline-block; margin-left: 10px;'
                class="modal-title" ng-bind="title"></h3>
            </div>

            <div class="modal-body">

              <h4> Enter Host Information</h4>
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-2 control-label" for="textInput">Host/IP Address</label>
                  <div class="col-md-4">
                    <input type="text" id="textInput" class="form-control" ng-model="hostToAdd.hostname"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label" for="textInput">Username</label>
                  <div class="col-md-4">
                    <input type="text" id="textInput" class="form-control" ng-model="hostToAdd.username"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label" for="textInput">Password</label>
                  <div class="col-md-4">
                    <input type="password" id="textInput" class="form-control" ng-model="hostToAdd.password"/>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-2">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="rememberPassword"/> Remember password
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6">
                    <button type="button" class="btn btn-primary btn-success pull-right" ng-click="onAddHost()">Add Host</button>
                  </div>
                </div>
              </form>


              <h4> Hosts to Add</h4>
              <table class="table table-hover table-hosts-to-add">
                <thead>
                  <tr>
                    <th><input type="checkbox"/></th>
                    <th>Hostname</th>
                    <th>IP Address</th>
                    <th>Status</th>
                    <th>Username</th>
                    <th>Password</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="host in hostsToAdd">
                    <td><input type="checkbox"/></td>
                    <td>{{host.hostname}}</td>
                    <td>{{host.ipaddress}}</td>
                    <td>Verified</td>
                    <td>{{host.username}}</td>   
                    <td><input type="password" ng-model="host.password"></input></td>
                  </tr>
                </tbody>
              </table>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Cancel</button>
                <button type="button" class="btn btn-primary btn-success" ng-click="onAddHosts()">Add Hosts</button>
            </div>
        </div>
    </div>
</div>
